@model IEnumerable<PersonalAffairs.BLL.DTO.WorkerDTO>
@{
    ViewBag.Title = "Home Page";
}
<br />
@using (Html.BeginForm("GlobalSearch","Home"))
{
    <p>
        Global Search: @Html.TextBox("keyword")
        <input class="btn btn-dark" type="submit" value="Search" />
    </p>
}


<h2>Workers</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <p>
                Find by FirstName or LastName: @Html.TextBox("SearchString")
                <input class="btn btn-dark" type="submit" value="Search" />
            </p>
        }

    </div>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <p>
                Find by CardNumber: @Html.TextBox("cardNumber")
                <input class="btn btn-dark" type="submit" value="Search" />
            </p>
        }
    </div>

    
</div>


<br />
<a class="btn btn-light" href="/Home/AddWorker/">Add worker</a>
<br />
<br />

<table class="table table-light">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Price)
            </td>
            <td>
                @Html.ActionLink("Projects", "WorkerProjects", "Home", new { id = item.Id }, null)
            </td>
            <td>
                <a class="btn btn-light" href="Home/EditWorker/@item.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-info" href="Home/InfoWorker/@item.Id">Info</a>
            </td>
            <td>
                <a class="btn btn-danger" href="Home/DeleteWorker/@item.Id">Edit</a>
            </td>
        </tr>
    }

</table>