@model IEnumerable<PersonalAffairs.BLL.DTO.UnitDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Units</h2>

<br />
@Html.ActionLink("Add Unit", "AddUnit", "Unit")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Info", "InfoUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Workers", "GetAllWorkersByUnit", "Unit", new { id = item.Id }, null)
        </td>
    </tr>
    }

</table>