@model IEnumerable<PersonalAffairs.WEB.Models.UnitViewModel>
@{
    ViewBag.Title = "Index";
}

<br />
<h2>Units</h2>

<br />
<a class="btn btn-light" href="/Unit/AddUnit/">Add position</a>
<br />
<br />
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Workers</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Workers", "GetAllWorkersByUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Info", "InfoUnit", "Unit", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteUnit", "Unit", new { id = item.Id }, null)
        </td>

    </tr>
    }

</table>