@model IEnumerable<PersonalAffairs.BLL.DTO.ProjectDTO>
@{
    ViewBag.Title = "WorkerProjects";
}

<br />
<h2 class="alert alert-info">Add project</h2>
@using (Html.BeginForm("AddProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <label>
                ProjectName:
            </label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="ProjectName"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>
                ProjectPrice:
            </label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="ProjectPrice"/>
        </div>
    </div>
    <input style="display:none" name="WorkerId" value="@ViewBag.wId" />
    

    <div class="form-group">
        <div class="col-md-offset-10 col-md-1">
            <input type="submit" value="Додати" class="btn btn-success" />
        </div>
    </div>
</div>
}

<hr />
<h2 class="alert alert-success">WorkerProjects</h2>
<table class="table">
    <tr>
        <th>ProjectName</th>
        <th>ProjectPrice</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectPrice)
        </td>
        <td>
            <a class="btn btn-light" href="/Project/EditProject/@item.Id">Edit</a>
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteProject", new { id=@item.Id, wId = @item.WorkerId}, new { @class="btn btn-light"})
        </td>
    </tr>
    }

</table>
